{%- import "python.j2" as python -%}
# run_install_packages() with packages and multiple requirements files, for one version.
command:
{%- for version in [Dependencies.python[0]] %}
  python-{{ version }}-packages-importable:
    exec: '{{ python.get_version_directory(version) }}/bin/python -c "import six, idna, packaging, typing_extensions"'
    exit-status: 0
{%- endfor %}

file:
  /tmp/requirements-1.txt:
    exists: false
  /tmp/requirements-2.txt:
    exists: false
