{%- set global_options = "-yq" -%}

{% macro clean_command() -%}
dnf clean all {{ global_options }}
{%- endmacro %}

{% macro update_upgrade() -%}
RUN dnf upgrade {{ global_options }} && \
    {{ clean_command() | indent(4) }}
{%- endmacro %}

{% macro install_packages_from_list(packages) -%}
{%- if packages is string -%}
{%- set packages = packages | split(",") -%}
{%- endif -%}
RUN dnf install {{ global_options }} \
    {%- for package in packages %}
        {{ package | trim }}{% if loop.last %} &&{% endif %} \
    {%- endfor %}
    {{ clean_command() | indent(4) }}
{%- endmacro %}

{% macro install_packages_from_file(file) -%}
RUN xargs -a {{ file }} dnf install {{ global_options }} && \
    {{ clean_command() | indent(4) }}
{%- endmacro %}

{% macro setup() -%}
RUN dnf upgrade {{ global_options }} && \
    dnf install {{ global_options }} \
        curl \
        ca-certificates \
        gnupg \
        tar && \
    {{ clean_command() | indent(4) }}
{%- endmacro %}
