{% macro update_upgrade() %}
RUN dnf upgrade -yq && \
    dnf clean all
{% endmacro %}

{% macro install_packages_from_list(packages) %}
RUN dnf install -yq {{ packages | join(' ') }} && \
    dnf clean all
{% endmacro %}

{% macro install_packages_from_file(file) %}
RUN dnf install -yq $(<{{ file }}) && \
    dnf clean all
{% endmacro %}

{% macro setup() %}
RUN dnf install -yq \
        curl \
        ca-certificates \
        gnupg \
        tar && \
    dnf clean all
{% endmacro %}
