{% macro build(versions) -%}
FROM ghcr.io/astral-sh/uv:bookworm-slim AS python-builder
ENV UV_COMPILE_BYTECODE=1 UV_LINK_MODE=copy

ENV UV_PYTHON_INSTALL_DIR=/opt/python

ENV UV_PYTHON_PREFERENCE=only-managed

RUN uv python install {{ versions | join(' ') }}
{%- endmacro %}

{% macro get_version_directory(version) -%}
/opt/python/cpython-{{ version }}-linux-x86_64-gnu
{%- endmacro %}

{% macro install_from_build_stage() -%}
COPY --from=python-builder /opt/python /opt/python
{%- endmacro %}

{% macro install_packages(versions, packages = None, requirements_file = None) -%}
{%- if versions is string -%}
{%- set versions = versions | split(",") -%}
{%- endif -%}
{%- if packages is string -%}
{%- set packages = packages | split(",") -%}
{%- endif -%}
{% for version in versions -%}
RUN {{ get_version_directory(version) }}/bin/pip install --no-cache-dir --upgrade \
    {% for package in packages -%}
        {{ package | trim }} \
    {% endfor -%}
    {% if requirements_file -%}
        -r {{ requirements_file | trim }}
    {%- endif %}
{%- if not loop.last %}{# Handles whitespace for next RUN line if present #}
{% endif %}
{%- endfor %}
{%- endmacro %}
