{# Macros for installing and managing Quarto #}

{# The directory for an installed version of Quarto

:param version: The Quarto version, e.g. "1.8.24"
#}
{% macro get_version_directory(version) -%}
/opt/quarto/{{ version }}
{%- endmacro %}

{# Command to install TinyTeX using the Quarto CLI

:param quarto_binary: The path to the Quarto binary.
:param update_path: Adds --update-path to the command to add TinyTeX binaries to the PATH. Defaults to False.
#}
{% macro install_tinytex_command(quarto_binary, update_path = False) -%}
{{ quarto_binary }} install tinytex{% if update_path %} --update-path{% endif %}
{%- endmacro %}

{# Command to download and install a specific version of Quarto, optionally installing TinyTeX as well

:param version: The Quarto version to install, e.g. "1.8.24"
:param with_tinytex: Whether to install TinyTeX along with Quarto. Defaults to False.
:param tinytex_update_path: Adds --update-path to the TinyTeX install command to add TinyTeX binaries to the PATH. Defaults to False.
#}
{% macro install(version, with_tinytex = False, tinytex_update_path = False) -%}
mkdir -p {{ get_version_directory(version) }} && \
curl -fsSL "https://github.com/quarto-dev/quarto-cli/releases/download/v{{ version | trim }}/quarto-{{ version | trim }}-linux-amd64.tar.gz" | tar xzf - -C "{{ get_version_directory(version | trim) }}" --strip-components=1{% if with_tinytex %} && \
{{ install_tinytex_command(get_version_directory(version | trim) + "/bin/quarto", tinytex_update_path) }}{% endif %}
{%- endmacro %}

{# Installs one or more versions of Quarto as separate RUN statements

:param versions: A list of Quarto versions or a comma separated string of Quarto versions to install
:param with_tinytex: Whether to install TinyTeX along with each Quarto version. Defaults to False.
#}
{% macro run_install(versions, with_tinytex = False, tinytex_update_path = False) -%}
{%- if versions is string -%}
{%- set versions = versions | split(",") -%}
{%- endif -%}
{% for version in versions -%}
RUN {{ install(version, with_tinytex, tinytex_update_path) | indent(4) }}
{%- if not loop.last %}{# Handles whitespace for next RUN line if present #}
{% endif %}
{%- endfor %}
{%- endmacro %}

{# Symlinks a Quarto install to the target directory

:param version: The Quarto version to symlink, e.g. "1.8.24"
:param target: The target path for the symlink, e.g. "/opt/quarto/default"
#}
{% macro symlink_version(version, target) -%}
ln -s {{ get_version_directory(version) }} {{ target }}
{%- endmacro %}

{# Symlinks a specific Quarto binary to the target path

:param version: The Quarto version to symlink the binary from, e.g. "1.8.24"
:param bin_name: The name of the binary to symlink, e.g. "quarto"
:param target: The target path for the symlink, e.g. "/usr/local/bin/quarto"
#}
{% macro symlink_binary(version, bin_name, target) -%}
ln -s {{ get_version_directory(version) }}/bin/{{ bin_name }} {{ target }}
{%- endmacro %}
