{% macro get_version_directory(version) -%}
/opt/quarto/{{ version }}
{%- endmacro %}

{% macro install_tinytex_command(quarto_binary) -%}
{{ quarto_binary }} install tinytex
{%- endmacro %}

{% macro install(version, with_tinytex = False) -%}
RUN mkdir -p {{ get_version_directory(version) }} && \
    curl -fsSL "https://github.com/quarto-dev/quarto-cli/releases/download/v{{ version | trim }}/quarto-{{ version | trim }}-linux-amd64.tar.gz" | tar xzf - -C "{{ get_version_directory(version | trim) }}" --strip-components=1{% if with_tinytex %} && \
    {{ install_tinytex_command(get_version_directory(version | trim) + "/bin/quarto") }}{% endif %}
{%- endmacro %}
