{% macro install(versions) -%}
RUN {% for version in versions -%}
    RUN_UNATTENDED=1 R_VERSION={{ version }} bash -c "$(curl -L https://rstd.io/r-install)"{% if not loop.last %} && \
    {% endif %}
    {%- endfor %}
{%- endmacro %}

{% macro get_version_directory(version) -%}
/opt/R/{{ version }}
{%- endmacro %}

{% macro get_p3m_cran_repo(_os) -%}
{%- if _os == None -%}
https://p3m.dev/cran/latest
{%- else %}
{%- if _os.Name == "ubuntu" or _os.Name == "debian" -%}
https://p3m.dev/cran/__linux__/{{ _os.Codename }}/latest
{%- elif _os.Name in ["rhel", "rocky", "alma"] -%}
https://p3m.dev/cran/__linux__/rhel{{ _os.Version }}/latest
{%- else -%}
https://p3m.dev/cran/latest
{%- endif -%}
{%- endif -%}
{%- endmacro %}

{% macro install_packages(versions, packages = None, package_list_file = None, _os = None) -%}
RUN {% for version in versions -%}
    {{ get_version_directory(version) }}/bin/R --vanilla -e 'install.packages(c({% if packages %}{{ packages | map('quote') | join(', ') | safe }}{% endif %}{% if packages and package_list_file %}, {% endif %}{% if package_list_file %}readLines("{{ package_list_file }}"){% endif %}), repos="{{ get_p3m_cran_repo(_os) }}", clean = TRUE)'{% if not loop.last %} && \
    {% endif %}
    {%- endfor %}
{%- endmacro %}
