{# Macros for installing the wait-for-it.sh script #}

{# Renders a command to download and install the wait-for-it.sh script to /usr/local/bin #}
{% macro install() -%}
curl -fsSL -o /usr/local/bin/wait-for-it.sh https://raw.githubusercontent.com/rstudio/wait-for-it/master/wait-for-it.sh && \
chmod +x /usr/local/bin/wait-for-it.sh
{%- endmacro %}

{# Wraps the install() macro with a RUN statement #}
{% macro run_install() -%}
RUN {{ install() | indent(4) }}
{%- endmacro %}
