#
# Worklows can only be nested four levels deep.
# This workflow will be called to build individual images so should be kept
# as shallow as possible.

name: Bakery

on:
  workflow_call:
    inputs:
      version:
        description: "The version of the Posit Bakery tool to install"
        default: "main"
        required: false
        type: string
      context:
        description: "The Bakery context to use (directory)"
        default: "."
        required: false
        type: string
    # TODO: Remove secret requirements once repository is public
    secrets:
      APP_ID:
        description: "GitHub App ID with access to posit-dev repositories"
        required: true
      APP_PRIVATE_KEY:
        description: "GitHub App private key with access to posit-dev repositories"
        required: true

jobs:
  matrix:
    name: Image Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.images.outputs.matrix }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: posit-dev
          repositories: images-shared

      - name: Install
        uses: "posit-dev/images-shared/setup-bakery@ci-workflow"
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        with:
          version: ${{ inputs.version }}

      - name: Images
        id: images
        run: |
          echo "matrix=$(bakery --quiet ci matrix --dev-versions exclude --context ${{ inputs.context }} | jq --compact-output .)" >> $GITHUB_OUTPUT

      - name: Output
        run: |
          echo "Images: ${{ steps.images.outputs.matrix }}"

  build:
    name: ${{ matrix.img.image }} v${{ matrix.dev && 'dev-' || '' }}${{ ${{ matrix.img.version }}
    needs: matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        img: ${{ fromJson(needs.matrix.outputs.matrix) }}

    steps:
      - name: Version
        run: |
          echo "Image: ${{ matrix.img.image }}"
          echo "Version: ${{ matrix.img.version }}"
          echo "Dev: ${{ matrix.img.dev }}"
