#
# Worklows can only be nested four levels deep.
# This workflow will be called to build individual images so should be kept
# as shallow as possible.

name: Bakery

on:
  workflow_call:
    inputs:
      version:
        description: "The version of the Posit Bakery tool to install"
        default: "main"
        required: false
        type: string
      context:
        description: "The Bakery context to use (directory)"
        default: "."
        required: false
        type: string
      dev-versions:
        description: "Dev version builds [default: exclude] [options: include, exclude, only]"
        default: "exclude"
        required: false
        type: string
      push:
        description: "Whether to push images to registries [default: false]"
        default: false
        required: false
        type: boolean
      runs-on:
        description: "The type of runner to use [default: ubuntu-latest]"
        default: "ubuntu-latest"
        required: false
        type: string
      aws-region:
        description: "AWS Region [default: us-east-2]"
        default: "us-east-2"
        required: false
        type: string
    secrets:
      DOCKER_HUB_ACCESS_TOKEN:
        description: "Docker Hub Access Token [required if pushing to Docker Hub]"
        required: false
      AWS_ROLE:
        description: "AWS Role to assume [required if pushing to ECR]"
        required: false

defaults:
  run:
    shell: bash

jobs:
  matrix:
    name: Image Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.images.outputs.matrix }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install
        uses: "posit-dev/images-shared/setup-bakery@main"
        with:
          version: ${{ inputs.version }}

      - name: Images
        id: images
        run: |
          echo "matrix=$(bakery ci matrix --quiet --dev-versions ${{ inputs.dev-versions }} --context ${{ inputs.context }} | jq --compact-output .)" >> $GITHUB_OUTPUT

  build:
    name: "${{ matrix.img.image }}:${{ matrix.img.version }}"
    needs: matrix
    runs-on: ${{ inputs.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        img: ${{ fromJson(needs.matrix.outputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup bakery
        uses: "posit-dev/images-shared/setup-bakery@main"
        with:
          version: ${{ inputs.version }}

      - name: Setup goss
        uses: "posit-dev/images-shared/setup-goss@main"

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v3

      # Since secrets cannot be referenced in an `if` condition directly,
      # this step sets an output that we can reference later.
      - name: Filter Steps
        id: filter-steps
        run: |
          if [ -n "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" ] ; then
            echo "docker-hub=true" >> $GITHUB_OUTPUT
          else
            echo "docker-hub=false" >> $GITHUB_OUTPUT
          fi

          if [ -n "${{ secrets.AWS_ROLE }}" ] ; then
            echo "ecr=true" >> $GITHUB_OUTPUT
          else
            echo "ecr=false" >> $GITHUB_OUTPUT
          fi

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        if: ${{ inputs.push && steps.filter-steps.outputs.docker-hub == 'true' }}
        uses: docker/login-action@v3
        with:
          username: "posit"
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Configure AWS Credentials
        if: ${{ inputs.push && steps.filter-steps.outputs.ecr == 'true' }}
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ inputs.aws-region }}
          role-session-name: gha-bakery-build

      - name: Login to Amazon ECR
        if: ${{ inputs.push && steps.filter-steps.outputs.ecr == 'true' }}
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build
        env:
          GIT_SHA: ${{ github.sha }}
        # FIXME: Currently pushes to ghcr.io for caching. Needs to be conditional
        run: |
          bakery build --load \
            --image-name '^${{ matrix.img.image }}$' \
            --image-version ${{ matrix.img.version }} \
            --dev-versions ${{ inputs.dev-versions }} \
            --cache-registry "ghcr.io/${{ github.repository_owner }}" \
            --context ${{ inputs.context }}

      - name: Test
        run: |
          GOSS_PATH=${GITHUB_WORKSPACE}/tools/goss \
          DGOSS_PATH=${GITHUB_WORKSPACE}/tools/dgoss \
          bakery run dgoss \
            --image-name '^${{ matrix.img.image }}$' \
            --image-version ${{ matrix.img.version }} \
            --dev-versions ${{ inputs.dev-versions }} \
            --context ${{ inputs.context }}

      - name: Push
        # Since this is a reusable workflow, we need to be very explicit about
        # when to push the images. We default to not pushing images, so the
        # calling workflow must explicitly request pushing images.
        if: ${{ inputs.push }}
        env:
          GIT_SHA: ${{ github.sha }}
        run: |
          bakery build --push \
            --image-name '^${{ matrix.img.image }}$' \
            --image-version ${{ matrix.img.version }} \
            --dev-versions ${{ inputs.dev-versions }} \
            --context ${{ inputs.context }}
