on:
  pull_request:

name: Run Tests
jobs:
  bakery:
    name: Run posit-bakery tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        working-directory: ./posit-bakery
        run: |
          pipx install poetry
          poetry install
        
      - name: Run tests
        working-directory: ./posit-bakery
        run: |
          poetry run pytest -n auto \
            --cov=posit_bakery \
            --cov-report=xml \
            --junit-xml=results.xml \
            test/

      - name: Publish test results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: ./posit-bakery/results.xml

      - name: Publish coverage results
        if: always()
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./posit-bakery/coverage.xml
          junitxml-path: ./posit-bakery/results.xml
