on:
  pull_request:

name: Run Tests
jobs:
  bakery:
    name: Run posit-bakery tests
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      SNYK_ORG: ${{ secrets.SNYK_ORG }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install goss and dgoss
        uses: ./setup-goss

      - name: Install Snyk CLI
        uses: snyk/actions/setup@0.4.0

      - name: Install dependencies
        working-directory: ./posit-bakery
        run: |
          pipx install poetry
          poetry install

      - name: Run tests
        working-directory: ./posit-bakery
        run: |
          GOSS_PATH=${GITHUB_WORKSPACE}/tools/goss \
          DGOSS_PATH=${GITHUB_WORKSPACE}/tools/dgoss \
          poetry run pytest -n auto \
            --cov=posit_bakery \
            --cov-report=xml \
            --junit-xml=results.xml \
            test/

      - name: Publish test results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: ./posit-bakery/results.xml
