on:
  pull_request:

name: Run Tests
jobs:
  bakery:
    name: Run posit-bakery tests
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        working-directory: ./posit-bakery
        run: |
          pipx install poetry
          poetry install

      - name: Run tests
        working-directory: ./posit-bakery
        run: |
          poetry run pytest -n auto \
            --cov=posit_bakery \
            --cov-report=xml \
            --junit-xml=results.xml \
            test/

      - name: Publish test results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: ./posit-bakery/results.xml

  pti-unit:
    name: Run pti unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Golang
        uses: actions/setup-go@v5
        with:
          go-version-file: src/pti/go.mod
          cache-dependency-path: src/pti/go.sum

      - name: Install dependencies
        working-directory: ./src/pti
        run: |
          go mod download
          go install github.com/ctrf-io/go-ctrf-json-reporter/cmd/go-ctrf-json-reporter@latest

      - name: Run tests
        working-directory: ./src/pti
        run: go test -json ./... > test-results.json

      - name: Generate CTRF report
        if: always()
        working-directory: ./src/pti
        run: go-ctrf-json-reporter -output ctrf-report.json < test-results.json

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: pti-unit-ctrf-report
          path: ctrf-report.json

      - name: Publish report
        if: always()
        working-directory: ./src/pti
        run: |
          npx github-actions-ctrf suite-folded ctrf-report.json \
            --pull-request \
            --overwrite-comment \
            --comment-tag pti-unit \
            --title "`pti` unit test results"
